[Unit]
Description=color-rp-service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=bash /home/ubuntu/color-rp/aws/ec2/service.sh

[Install]
WantedBy=multi-user.target
